* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  width: 80vw;
}

.bloc1 {
  display: flex;
  position: relative;
  height: 35vh;
}
.text {
  position: absolute;
  top: 42%;
  right: 43%;
  color: rgb(231, 231, 231);
}

img {
  width: 100%;
}
h1 {
  font-size: 50px;
}
h2::before {
  content: "|";
  color: #ff7300;
  font-size: 50px;
  margin-right: 10px;
}
h2 {
  margin-bottom: 20px;
}
#other {
  color: blue;
}

.bloc2 {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: center;
  margin: auto;
  height: 50vh;
  justify-content: space-evenly;
  margin-bottom: 9vh;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
}
.form1 {
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 87%;
}
.form input {
  all: initial;
  padding-left: 15px;
  width: 80%;
  height: 30px;
  margin: auto;
  border-color: #ff7300;
  box-shadow: 0px 0px 0px 2px #ff7300 inset;
  border-radius: 2px;
}
.blockmsg {
  width: 100%;
}
#msg {
  width: 80%;
  padding-bottom: 200px;
}
.info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

button {
  border: none;
  border-radius: 5px;
  width: 15vw;
  height: 30px;
  left: 46%;
  position: absolute;
  bottom: -10%;
  background: #ff7300;
  color: white;
}

.information {
  margin-top: 20px;
}

@media only screen and (max-width: 1190px) {
  .page {
    width: 100vw;
  }
  .bloc1 {
    width: 100vw;
  }
  .bloc2 {
    flex-direction: column;
    height: fit-content;
  }
  .form {
    width: 100vw;
    height: fit-content;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }
  .form1 {
    flex-direction: column;
    margin: auto;
    width: 90vw;
  }
  .form input {
    width: 97%;
    margin-top: 10px;
  }
  .blockmsg {
    width: 90vw;
    margin: auto;
  }
  #msg {
    width: 97%;
  }
  button {
    width: 89vw;
    height: 30px;
    left: 5.5%;
    position: relative;
    bottom: -48%;
  }
  .info {
    width: 90vw;
    margin: auto;
    margin-bottom: 10vh;
  }
}
