/* CSS du footer :*/

.container_footer {
	max-width: 1290px;
	margin: auto;
}

.rangées {
	display: flex;
	flex-wrap: wrap;
}

.footer {
	padding: 10px;
	background-color: #ffff;
}

.footer_col {
	width: 33%;
	justify-content: center;
}

.footer_col h4 {
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	text-align: center;
}

.footer_col h4::before {
	content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 3px;
    width: 50px;
    border-radius: 2px;
    background: linear-gradient(to left, rgba(255, 0, 128, 0.836), rgba(86, 0, 247, 0.904));
}

.footer_col :not(:last-child) {
	margin-bottom: 10px;

}

.footer_col a {
	font-size: 16px;
	display: block;
	text-transform: capitalize;
	text-decoration: none;
	color: black;
	font-weight: 300;
	text-align: center;
	padding: 15px;
	transition: all 0.3s ease;
}

.footer_col a:hover {
	padding-left: 8px;
}


.bar {
	border-top: 1px solid rgb(175, 175, 175);
	padding: 20px 0;
}

/*responsive*/
@media(max-width: 767px) {
	.footer_col {
		width: 50%;
		margin-bottom: 30px;
		text-align: center;
	}
	.footer_col h4::before {
		content: '';
		display: block;
		width: 15%;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);
	}

}

@media(max-width: 574px) {
	.footer_col {
		width: 100%;
		text-align: center;
	}
	.footer_col h4::before {
		content: '';
		display: block;
		width: 10%;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);
	}

}

/* COPYRIGHT */

#copyright {
	color: rgba(255, 255, 255, 0.25);
	font-size: 0.8rem;
	font-weight: 900;
	letter-spacing: 0.075em;
	line-height: 3.5;
	text-align: center;
	text-transform: uppercase;
	margin: 3rem auto;

}

	#copyright ul {
		list-style: none;
	}

		#copyright ul li {
			border-left: solid 2px;
			display: inline-block;
			line-height: 1;
			margin-left: 1rem;
			padding-left: 1rem;
		}

	@media screen and (max-width: 480px) {

		#copyright ul li {
			border-left: 0;
			margin: 1rem 0 0 0;
			padding-left: 0;
		}

			#copyright ul li:first-child {
				margin-top: 0;
			}

	}