* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 100vw;
  overflow-x: hidden;
}

.first-component {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
  color: white;
  height: 320px;
}
.find {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  background-color: rgb(0, 54, 81);
  margin-right: 2vw;
  padding: 1vh 0 1vh 0;
  flex-direction: column;
  align-content: center;
}
.deal {
  width: 40%;
  position: relative;
  height: inherit;
  cursor: pointer;
}

.dest {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  cursor: pointer;
}
.time {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
input,
select {
  all: initial;
  background: #fff;
  width: 18vw;
  height: fit-content;
  appearance: none;
  border-color: #ff7300;
  box-shadow: 0px 0px 0px 3px #ff7300 inset;
  padding-left: 2vw;
  margin-top: 5px;
  padding: 10px;
}
select {
  cursor: pointer;
}

#img-deal {
  width: 100%;
  height: inherit;
}

.text-titre {
  position: absolute;
  color: black;
  top: 10%;
  left: 10%;
  font-size: 15px;
}
.text-img {
  position: absolute;
  color: black;
  top: 60%;
  left: 10%;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.text-img h2 {
  margin-bottom: 10px;
}

.btn {
  display: flex;
  flex-direction: row-reverse;
}
button {
  background: #ff7300;
  color: white;
  width: fit-content;
  padding: 10px 50px 10px 50px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  border-color: #ff7300;
  cursor: pointer;
}

.prix {
  position: absolute;
  top: 45%;
  right: 0;
  background: rgb(255, 213, 5);
  padding: 1vw;
}
.prix p {
  font-size: 30px;
  font-weight: bold;
}
.titledest {
  color: #ff7300;
  font-size: 35px;
  font-weight: bolder;
}
.top {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.destination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
}
.dest-img {
  position: relative;
  margin-bottom: auto;
  margin-bottom: 5vh;
  cursor: pointer;
}
.dest-img .prix {
  padding: 5px;
}
.img {
  width: 18vw;
  max-width: 100%;
}
h3 {
  background: #ff7300;
  color: white;
  width: fit-content;
  padding: 10px 50px 10px 50px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border-color: #ff7300;
}

@media only screen and (max-width: 1190px) {
  .first-component {
    height: auto;
  }
  h3 {
    padding: 10px 30vw 10px 30vw;
  }
  .destination {
    flex-direction: column;
    width: 100vw;
  }
  .img {
    min-width: 100vw;
    height: auto;
  }
  .dest-img {
    margin: auto;
    width: max-content;
    margin-bottom: 10vw;
  }

  .first-component {
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .find {
    width: 100vw;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .find h2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .dest {
    flex-direction: column;
  }
  .time {
    flex-direction: column-reverse;
  }
  input,
  select {
    width: 88vw;
    height: fit-content;
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding: 20px;
  }

  .btn {
    justify-content: center;
    margin-bottom: 2vh;
  }
  button {
    width: 90vw;
  }
  .deal {
    width: 100%;
  }
}
