.custom-title {
    display: flex;
    align-items: center;
}

.custom-title::before {
    content: "|";
    color: rgb(219, 147, 14);
    font-size: 1.5em;
    margin-right: 10px;
}

#choosedate {
    background-color: coral;
}

#title_city {
    color: coral;
    font-weight: bold;
}

.prix {
    float: right;
    text-decoration: none;
    color: black;
}

@media (max-width: 991px) {
    .text-paris {
        margin-top: 15px !important;
        font-size: 30px;
    }
    .description {
        font-size: 10px;
    }
}